.enteringScreenButtons {
    margin: 10px;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    color: white;
    background-color: #26a17f;
    font-size: larger;
    font-weight: 600;
    box-shadow: none;
    border: 2px solid #26a17f
}